<h1><%= @destination %></h1>

<header>
	<ul>
		<li>Home</li>
		<li>Profile</li>
		<li>Log Out</li>
	</ul>
</header>


	<!-- photo code -->
	<div class="photo">
		<h1>Recent photos taken in...<%= @destination %></h1>
	</div>

	<div class="bottom-wrapper">

		<!-- flight code-->
		<div class="flight">
			<h1>Upcoming flights for...<%= @destination %> </h1>
		</div>

		<!-- photo code -->
		<div class="weather">
			<h1>Historical weather in...<%= @destination %> </h1>
		</div>
