<h1><%= @destination %></h1>


<!-- weather code -->
<div class="weather">
	<h1>Historical weather for...</h1>
	
</div>


<!-- flight code-->
<div class="flight">
	<h1>Upcoming flights for...<%= @destination %> </h1>
</div>


<!-- photo code -->
<div class="photo">
	<h1>Recent photos taken in...<%= @origin %>
	<%= @average_flight_price %> </h1>
	
</div>
