<header>
	<ul>
		<li>Home</li>
		<li>Profile</li>
		<li>Log Out</li>
	</ul>

</header>

	<h1>City Name</h1>


	<!-- photo code -->
	<div class="photo">
		<h1>Recent photos taken in...</h1>
	</div>

	<div class="bottom-wrapper">

		<!-- weather code -->
		<div class="weather">
			<h1>Historical weather for...</h1>
		</div>


		<!-- flight code-->
		<div class="flight">
			<h1>Upcoming flights for...</h1>
		</div>

	</div>


