
$circle_size: 43px;
$green-icon: #4f612a;

body {
  background-color: white;
  margin: 0 auto;
  font-family: 'Oxygen', sans-serif;
}

h1 {
  font-size: 25px;
}

/* ---------->>> RESULTS <<<-----------*/
.results {
  height: 100%;
  background-color: white;
  color: darkgray;
  header {
    @include span-columns(12);
    height:20%;
    background-color: darkblue;
  }
  footer {
    @include span-columns(12);
    height: 5%;
    background-color: darkgray;
    bottom: 0px;
    left: 0px;
    position: fixed;
  }
  .city {
    text-align: center;
    .city-name {
      font-size: 50px;
      margin: 0 auto;
    }
  }
  .content {
    @include span-columns(12);
    text-align: center;
    height: 70%;
    margin: 0 auto;
    .flight, .weather, .big-mac, .hotels {
      @include span-columns(3);
      height: 200px;
      width: 350px;
/*      img {
        width: 150px;
      }*/
    }
    .icon {
      border-radius: 50%;
      height: 175px;
      width: 175px;
      padding: -2em;
      margin: 0 10px;
    }
    .sub-icon {
      border-radius: 50%;
      height: 50px;
      width: auto;
      padding: 2px;
      margin: 0 10px;
      background-color: white;
    }
  }
}


