
$circle_size: 43px;
$green-icon: #4f612a;

body {
  background-color: white;
  margin: 0 auto;
  font-family: 'Oxygen', sans-serif;
}

h1 {
  font-size: 25px;
}

/* ---------->>> RESULTS <<<-----------*/
.results {
  height: 100%;
  background-color: white;
  color: darkgray;
  header {
    @include span-columns(12);
    height:auto;
    padding: 0;
    background-color: white;
  }
  footer {
    @include span-columns(12);
    height: 5%;
    background-color: darkgray;
    bottom: 0px;
    left: 0px;
    position: fixed;
  }
  .city {
    text-align: center;
    .city-name {
      font-size: 50px;
      margin: 0 auto;
    }
  }
  .content {
    @include span-columns(12);
    text-align: center;
    height: 70%;
    margin: 0 auto;
    .flight, .weather, .big-mac, .hotels {
      @include span-columns(3);
      height: 200px;
      width: 350px;
/*      img {
        width: 150px;
      }*/
    }
    .icon {
      border-radius: 50%;
      height: 175px;
      width: 175px;
      padding: -2em;
      margin: 0 10px;
    }
    .sub-icon {
      border-radius: 50%;
      height: 50px;
      width: auto;
      padding: 2px;
      margin: 0 10px;
      background-color: white;
    }
  }
  .jcarousel-wrapper {
    margin: 20px auto;
    position: relative;
    -webkit-box-shadow: 0 0 2px #999;
    -moz-box-shadow: 0 0 2px #999;
    /*box-shadow: 0 0 2px #999;*/
  } 
  /** Carousel **/
  .jcarousel {
      position: relative;
      overflow: hidden;
      width: 100%;
  }
  .jcarousel ul {
      width: 20000em;
      position: relative;
      list-style: none;
      margin: 0;
      padding: 0;
  }
  .jcarousel li {
      width: 150px;
      float: left;
      border: 1px solid #fff;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
  }
  .jcarousel img {
      display: block;
      max-width: 100%;
      height: auto !important;
  }
/** Carousel Controls **/

  .jcarousel-control-prev,
  .jcarousel-control-next {
      position: absolute;
      top: 50%;
      margin-top: -15px;
      width: 30px;
      height: 30px;
      text-align: center;
      background: #4E443C;
      color: #fff;
      text-decoration: none;
      text-shadow: 0 0 1px #000;
      font: 24px/27px Arial, sans-serif;
      -webkit-box-shadow: 0 0 4px #F0EFE7;
      -moz-box-shadow: 0 0 4px #F0EFE7;
      box-shadow: 0 0 4px #F0EFE7;
  }
  .jcarousel-control-prev {
      left: 15px;
  }
  .jcarousel-control-next {
      right: 15px;
  }
}


