@import "bourbon";
@import "base/base";
@import "neat";


$primary-color: #6aa3df;

/* ---------->>> PRIMARY STRUCTURE <<<-----------*/


.container {
  h1 {
  @include span-columns(12);
  color: darkblue;
  font-size: 60px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  }
  h2 {
  font-size: 15px;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  }
  .city {
  	@include span-columns(12);
  }
  .photo-wrapper {
	@include span-columns(11.5);
	background-image: url('/assets/noise_lines/noise_lines.png');
	display: inline-block;
	border-radius: 10px;
	box-shadow: 8px 8px 5px #888888;
  	margin: 20px;
  	height: auto;
  }
  .left-photo {
  	@include span-columns(8);
  }
  #tiled-photo{
  	@include span-columns(8);
  	width: 100%;
  }
  .right-photo {
  	@include span-columns(4);
  }
/*  #cycle-photos {
  	width: 30%;
  }*/
  .photo-wrapper div {
  	padding: 10px;
  }
  #photo h2 {
  	color: #000066;
  }
  .bottom-wrapper {
	@include span-columns(11.5);
	margin: 20px;
	padding: 0 10px;
	height:125px;
	display: inline-block;
  }
  .bottom-wrapper div {
  	@include span-columns(3);
  	display: inline-block;
  	background-image: url('/assets/noise_lines/noise_lines.png');
  	border-radius: 10px;
  	padding: 10px;
  	box-shadow: 8px 8px 5px #888888;
  }
  .bottom-wrapper h2 {
  	color: #000066;
  }
}

body {
	font-size: 20px;
	background-color: lightgray;
}

html, body {
	height: 100%;
	padding: 0;
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
	color: #0066CC;
}

header {
	background-color: #0066CC;
	height: 50px;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

body {
	font-size: 15px;
	height: 100%;
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
}


/* ---------->>> PHOTO WRAPPER <<<-----------*/

#photo  {
}

#tiled-photo {
	border-radius: 10px;
}

#cycle-photos {
  position: absolute;
  margin: 25px 0;
/*  height: 300px;*/
}

img {
	border-radius: 5px;
	max-height: 300px;
	max-width: 325px;
	margin: 0 auto;
}


/* ---------->>> BOTTOM WRAPPER <<<-----------*/

.bottom-wrapper div:hover { 
    background-image: none;
    background-color: white;
}

.flight  {
	height: 10%;
	min-height: 200px;

}

.weather  {
	height: 10%;
	min-height: 200px;

}

.big-mac  {
	height: 10%;
	min-height: 200px;
}


/* ---------->>> ICONS <<<-----------*/

.icon {
	border-radius: 50%;
	height: 75px;
	width: 75px;
	padding: -2em;
	margin: 0 10px;
	opacity: 1.0;
}

.sub-icon {

	border-radius: 50%;
	height: 50px;
	width: 50px;
	padding: 2px;
	margin: 0 10px;
	background-color: white;
}


/* ---------->>> NAVIGATION <<<-----------*/

ul {
	text-align: right;
}

li {
	display: inline;
	color: #FFFFFF;
	border: white solid 2px;
	font-size: 15px;
	padding: 0 4px;
}

/* ---------->>> FAVORITES <<<-----------*/


button {
	margin: 0 auto;
	#add-button {
		background-color: darkblue;
		color: yellow;
		text-align: right;
		font-size: 20px;
		height: 50px;
		margin: 5px;
		display: none;
	}

	#delete-button {
		color: darkgray;
		background-color: gray;
		text-align: right;
		font-size: 20px;
		height: 50px;
		margin: 5px;
		display: none;
	}

}



/* ---------->>> TABLE <<<-----------*/

table {
	border: none;
	margin: 0 auto;
}
td {
	padding: 0;
	border: none;
}

/* ---------->>> CLEARFIX <<<-----------*/


.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */



