.top_right {
  @include clearfix;
  position: absolute;
  top: 2em;
  right: 2em;
  display: inline;
}

.top_right div {
  float: left;
}


#expanded_login {
  float: left;
  display: none;
}
#login, #expanded_login {
  margin: 0 0.3em;
  height: 3em;
}

#user_username, #user_password {
  margin: 0 0.3em;
  float: left;
  display: none;
  font-size: 1.3em;
  width: 10em;
}

// #user_username {
//   position: fixed;
//   top: 1.5em;
//   right: 17.5em;
//   width: 10em;
//   font-size: 1.3em;
//   display: none;
// }

// #user_password {
//   @extend #user_username;
//   right: 6.5em;
// }

.go {
  @include button(shiny);
  @include span-columns(3);
  @include shift(4.5);
}

input.go[type='submit'] {
  display: none;
}

#signup_form {
  position: absolute;
  font-size: 1.2em;
  width: 40em;
  padding: 2em;
  background-color: white;
  margin: 0 -20em;
  left: 50%;
  top: 12em;
  border-radius: .5em;
}

#signup_form label {
  font-size: 1.15em;
}

#signup_cancel {
  color: white;
  background: gray;
}

.searchbox {
  // @include span-columns(6);
  // @include shift(3);
  margin: 8em auto;
  width: 25em;
  text-align: center;
  //  background-color: rgba(255,255,255,.7);
  font-size: 2em;
  padding: 2em;
  border-radius: 1em;
}

.searchbox select {
  @include span-columns(4);
  @include shift(4);
}

#origin, #origin_label {
  display: none;
}

#month, #month_label {
  display: none;
}

/*jquery ui autocomplete*/
.ui-menu-item {
  color: black;
  text-align: left;
  display: block;
}


/* background rotation*/

#slideshow, img.bgM {
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index:-9999;  
}

.form_error {
  color: red;
  display: none;
}
