.go {
  @include button(shiny);
  @include span-columns(3);
  @include shift(4.5);
}

input.go[type='submit'] {
  display: none;
}

.searchbox {
  @include span-columns(6);
  @include shift(3);
  margin-top: 12em;
  text-align: center;
  background-color: rgba(255,255,255,.7);
  padding: 8em 14em;
  border-radius: 1em;
}

.searchbox select {
  @include span-columns(4);
  @include shift(4);
}

#origin, #origin_label {
  display: none;
}

#month, #month_label {
  display: none;
}

/*jquery ui autocomplete*/
.ui-menu-item {
  color: black;
  text-align: left;
  display: block;
}


/* background rotation*/

body {
  background: url('island.jpg') no-repeat top;
}