.go {
  @include button(shiny);
  @include span-columns(3);
  @include shift(4.5);
}
.searchbox {
  @include span-columns(6);
  @include shift(3);
  margin-top: 12em;
  text-align: center;
  background-color: rgba(255,255,255,.7);
  padding: 8em 14em;
  border-radius: 1em;
}

.searchbox select {
  @include span-columns(4);
  @include shift(4);
}

/*jquery ui autocomplete*/
.ui-menu-item {
  color: black;
  text-align: left;
  display: block;
}


/* background rotation*/

// body {
//   background: url('island.jpg') no-repeat top;
// }
#slideshow, img.bgM {
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index:-9999;
}