@import "bourbon";
@import "base/base";
@import "neat";


$primary-color: #6aa3df;

.container {
  h1 {
  @include span-columns(10);
  }
}

body {
	font-family: helvetica;
}

header {
	background-color: #000066;
}

ul {
	text-align: right;
}

li {
	display: inline;
	color: #FFFFFF;
}

.bottom-wrapper {
  border-top: lightgray 2px solid;
}




