@import "bourbon";
@import "base/base";
@import "neat";


$primary-color: #6aa3df;

/* ---------->>> PRIMARY STRUCTURE <<<-----------*/


.container {
  h1 {
  @include span-columns(10);
  }
}

body {
	font-family: helvetica;
}

header {
	background-color: #000066;
	overflow: auto;
	height: 50px;
	max-width: 100%;
}

/* ---------->>> KEY SECTION STRUCTURE <<<-----------*/

.bottom-wrapper {
  border-top: lightgray 2px solid;
}


/* ---------->>> NAVIGATION <<<-----------*/

ul {
	text-align: right;
}

li {
	display: inline;
	color: #FFFFFF;
}





