$medium: new-breakpoint(max-width 900px 6);
$small: new-breakpoint(max-width 500px 3);
$circle_size: 60px;
$green-icon: #4f612a;
// * {
//   border: 1px dashed red;
// }

body {
  background-color: white;
  margin: 0;
  font-family: 'Oxygen', sans-serif;
  font-size: 18px;
}

h1 {
  font-size: 20px;
  color: darkblue;
}

button {
  font-size: 13px;
}

/* ---------->>> RESULTS <<<-----------*/
.results {
  height: 100%;
  background-color: white;
  color: black;
  header {
    height:auto;
    padding: 0;
    top: 0;
    left: 0;
    background-color: white;
    margin: 0;
    font-size: 13px;
    .search-form {
      display: inline;
      padding: 5px 5px;
      margin: 14px 0;
    }
  }
    /*box-shadow: 0 0 2px #999;*/
  .top_right {
  @include clearfix;
  position: absolute;
  top: 5px;
  right: 2em;
  display: inline;
  }
  .top_right div {
      float: left;
    }
  .favorites#add-button {
    float: right;
  }
  #expanded_login {
    float: left;
    display: none;
  }
  .login_button, .signup_button, #expanded_login {
    margin: 0 0.3em;
    height: 3em;
  }
  #user_username, #user_password {
    margin: 0 0.3em;
    float: left;
    display: none;
    font-size: 17px;
    width: 10em;
  }
  #signup_form {
      position: absolute;
      font-size: 13px;
      width: 40em;
      padding: 2em;
      background: rgba(0,0,0,0.8);
      margin: 0 -20em;
      left: 50%;
      top: 5em;
      border-radius: .5em;
      display: none;
      z-index: 100;
    }
    #signup_form label {
      font-size: 1.15em;
    }
    #signup_cancel {
      color: white;
      background: gray;
    }
  .jcarousel-wrapper {
  margin: auto;
  margin-bottom: 15px;
  position: relative;
  -webkit-box-shadow: 0 0 2px #999;
  -moz-box-shadow: 0 0 2px #999;
  }
  /** Carousel **/
  .jcarousel {
      position: relative;
      overflow: hidden;
      width: 100%;
  }
  .jcarousel ul {
      width: 20000em;
      position: relative;
      list-style: none;
      margin: 0;
      padding: 0;
  }
  .jcarousel li {
      width: 150px;
      float: left;
  }
  .jcarousel img {
      display: block;
      max-width: 100%;
      height: auto !important;
  }
/** Carousel Controls **/

  .jcarousel-control-prev,
  .jcarousel-control-next {
      position: absolute;
      top: 50%;
      margin-top: -15px;
      width: 30px;
      height: 30px;
      text-align: center;
      background: #4E443C;
      color: #fff;
      text-decoration: none;
      text-shadow: 0 0 1px #000;
      font: 24px/27px Arial, sans-serif;
      -webkit-box-shadow: 0 0 4px #F0EFE7;
      -moz-box-shadow: 0 0 4px #F0EFE7;
      box-shadow: 0 0 4px #F0EFE7;
  }
  .jcarousel-control-prev {
      left: 15px;
  }
  .jcarousel-control-next {
      right: 15px;
  }

  .city {
    text-align: center;
    margin-bottom: 10px;
    .city-name {
      h1 {
      font-size: 50px;
      margin: 0 auto;
      }
      h3 {
        font-size: 20px;
        margin: 0 auto;
      }
    }
  }

  .content {
    @include outer-container;
    text-align: center;
    height: 70%;
    margin: 0 auto;
    // display: inline-block;

    .flight, .weather, .big-mac, .hotels {
      @include span-columns(3.2);
      margin: 10px 0 0 0;
      @include media($medium) {
        @include span-columns(2.8);
        height: 350px;
      }
      @include media($small) {
        @include span-columns(3);
        height: auto;
      }
    }
    .flight {
      // @include shift(0.25);
    }
    .weather div {
      left: 5px;
    }
    .icon {
      width: 50%;
      border-radius: 50%;
      height: auto;
      // padding: -2em;
      margin: 0 10px;
    }
    .sub-icon {
      border-radius: 50%;
      height: auto;
      width: 75%;
      // padding: 2px;
      // margin: 0 10px;
      background-color: white;
    }
    td{
      border: none;
      padding: 0;
    }
    tr{
      padding: 0;
      margin: 0;
    }
    figure {
      text-align: center;
    }
    span {
      // @include span-columns(3 of 3);
      display: inline-block;
      height: $circle_size;
      width: $circle_size;
      line-height: $circle_size;
      border-radius: 70%;
      background-color: white;
      text-align: center;
      font-size: 1.1em;
      // margin: 0 0.2em;
      border: 5px solid blue;
    }
    #average_rate {
      // @include span-columns(3 of 3);
      height: $circle_size*1.3;
      width: $circle_size*1.3;
      line-height: $circle_size*1.3;
      font-size: 1.2em;
      border: rgb(152,72,27) 5px solid;
    }
    .hotel-span {
      border: rgb(152,72,27) 5px solid;
    }
    .big-mac-span {
      border: rgb(79,98,40) 5px solid;
      width: $circle_size*1.3;
      height: $circle_size*1.3;
      line-height: $circle_size*1.3;
    }
    .flight-span {
      border: rgb(96,74,122) 5px solid;
      width: $circle_size*1.3;
      height: $circle_size*1.3;
      line-height: $circle_size*1.3;
    }
  }
}

/* ---------->>> USERS <<<-----------*/

.users {
  header {
    @include span-columns(12);
    height:120px;
    padding: 10px;
    top: 0;
    left: 0;
    background-color: lightgray;
    color: black;
    font-size: 20px;
    display: inline;
    text-align: right;
    .logout {
      padding: 5px;
    }
    .user-icon {
      border-radius: 50%;
      width:90px;
      height: 90px;
      float: left;
      margin: 10px 10px;
    }
  }
  h1 {
    padding: 20px;
  }
  .saved {
    background-color: #336633;
    width: 100%;
    text-align: left;
    color: white;
  }
  .user-action {
    padding: 5px;
    margin: 5px;
  }
  button {
    background-image: url('/assets/noise_lines/noise_lines.png');
    border-radius: 10px;
    width: fit-content;
    min-width: 400px;
    display: inline-block;
    box-shadow: 3px 3px 1px #888888;
    margin: 10px 10px;
  }
  .delete-button {
    padding: 8px;
    border-radius: 5px;
    font-size: 12px;
  }
  ul {

  }
  li {
    display: inline-block;
  }
}


/* ---------->>> SEARCH <<<-----------*/

.search-css {
  .go {
    @include button(shiny);
    @include span-columns(3);
    @include shift(4.5);
  }
  input.go[type='submit'] {
    display: none;
  }
  .searchbox {
    // @include span-columns(6);
    // @include shift(3);
    margin: 8em auto;
    width: 25em;
    text-align: center;
    //  background-color: rgba(255,255,255,.7);
    font-size: 20px;
    padding: 10px;
    border-radius: 1em;
    .errors {
      background-color: lightgray;
      color: darkblue;
      margin-bottom: 20px;
      font-size: 15px;
      opacity: 0.8;
    }
  }
  .searchbox select {
    @include span-columns(4);
    @include shift(4);
  }

  #origin, #origin_label {
    display: none;
  }
  #month, #month_label {
    display: none;
  }
  /*jquery ui autocomplete*/
  .ui-menu-item {
    color: black;
    text-align: left;
    display: block;
  }

  /* background rotation*/

  #slideshow, img.bgM {
    min-height: 100%;
    min-width: 100%;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index:-9999;  
  }
  .form_error {
    color: red;
    display: none;
  }

  h2 {
    color: lightgray;
    text-glow: 0 0 3px #FFF000;
  }
}