body {
	font-size: 20px;
}

html, body, p {
	height: 100%;
	padding: 0;
	margin: 0 auto;
	font-family: 'Oxygen', sans-serif;
	color: white;
}

header {
	background-color: #0066CC;
	height: 50px;
	width: 100%;
	margin: 0;
	padding: 5px;
	font-family: 'Oxygen', sans-serif;
	color: white;
	font-size: 30px;
}

.user-action {
	padding: 5px;
	margin: 5px;
}

button {
	background-image: url('/assets/noise_lines/noise_lines.png');
	border-radius: 10px;
	width: fit-content;
	display: inline-block;
	box-shadow: 3px 3px 1px #888888;
	margin: 10px 10px;
}