<!DOCTYPE html>
<html>
  <head>
    <title>Seek</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="slideshow">
      <img src="/assets/paris.jpg"/>
      <img src="/assets/japan.jpg"/>
      <img src="/assets/beach.jpg"/>
      <img src="/assets/road.jpg"/>
      <img src="/assets/island.jpg"/>
      <img src="/assets/nyc.jpg"/>
      <img src="/assets/rockies.jpg"/>
    </div>
    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
